/* TEXT STYLES */
.text__atom {
  color: var(--color-black);
  line-height: 22px;
  letter-spacing: 1px;
  margin: 0;
  width: 80%;
}

@media (min-width: 700px) and (max-width: 899px) {
  .text__atom {
    width: 100%;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .text__atom {
    width: 100%;
  }
}

@media (min-width: 450px) and (max-width: 699px) {
  .text__atom {
    width: 100%;
  }
}
