.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
}

.navbar__first {
  width: 60%;
}

.navbar__second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.navbar__second a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  letter-spacing: 1px;
}

.navbar__second a:after {
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar__second a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* STORIES ARGS */
.black {
  color: var(--color-black);
}
