.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
}

.navbar__first {
  width: 60%;
}

.navbar__second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.navbar__second a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  letter-spacing: 1px;
}

.navbar__second a:after {
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar__second a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (min-width: 700px) and (max-width: 899px) {
  .navbar__container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .navbar__container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 450px) and (max-width: 699px) {
  .navbar__container {
    width: 90%;
    margin: 0 auto;
  }

  .navbar__first {
    width: 40%;
  }
  
  .navbar__second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }
}


/* STORIES ARGS */
.black {
  color: var(--color-black);
}
